<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">
            <div class="section-heading" id="featured-projects-text">Projects</div>
            
                <div class="project-technologies">

                    <a id="featured" class="semi-transparent-button with-border white-button" onclick="selected('featured')">주요 프로젝트</a>
                    <a id="all" class="semi-transparent-button with-border white-button" onclick="selected('all')">전체</a>
                    <a id="native" class="semi-transparent-button with-border white-button" onclick="selected('native')">Android</a>
                    <a id="utility" class="semi-transparent-button with-border white-button" onclick="selected('utility')">유틸리티</a>
                    <a id="security" class="semi-transparent-button with-border white-button" onclick="selected('security')">보안</a>
                    <a id="education" class="semi-transparent-button with-border white-button" onclick="selected('education')">교육</a>

                </div>

            <div class="projects-wrapper">
            <!-- filled in by js -->
            </div>
        </div>
    </section>
</div>